<%= render 'layouts/sidebar' %>
<div class="page-content">
  <div class="container-fluid">
    <div class="mail-apps-wrap">
      <div class="the-box bg-info no-border no-margin heading">
        <div class="row">
          <div class="col-sm-6">
            <h1><i class="fa fa-edit icon-lg icon-circle icon-bordered"></i> Editar usuário</h1>
          </div><!-- /.col-sm-6 -->          
        </div><!-- /.row -->
      </div>
      
      <div class="the-box toolbar no-border no-margin">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <%= link_to users_path, :class => "btn btn-info"  do%>
              <i class="fa fa-arrow-left"></i> Voltar
            <% end %>
          </div>
          <div class="btn-group">            
          </div>
        </div><!-- /.btn-toolbar -->
      </div><!-- /.the-box -->
      <%= form_for(@user) do |f| %>
        <div class="the-box no-margin">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Cargo</label>
                <div class="field">                   
                  <%= f.select :occupation, ["Membro","Diretor", "Presidente"], {:prompt => true},{:class =>" chosen-select form-control bold-border"}  %>
                </div>                       
              </div>             
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-8">
              <div class="form-group">
                <div class="field">
                  <%= f.label :name %><br>
                  <%= f.text_field :name, :class =>"form-control rounded bold-border" %>
                </div>
                <br>                                    
                <div class="field">
                  <%= f.label :email %><br>
                  <%= f.text_field :email, :class =>"form-control rounded bold-border" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :phone %><br>
                  <%= f.text_field :phone, :class =>"form-control rounded bold-border" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :linkedin %><br>
                  <%= f.text_field :linkedin, :class =>"form-control rounded bold-border" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :website %><br>
                  <%= f.text_field :website, :class =>"form-control rounded bold-border" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :background %><br>
                  <%= f.text_area :background, :class =>"form-control rounded bold-border" %>
                </div>        
              </div><!-- /.input-group -->
              <div class="form-group">                
              </div><!-- /.input-group -->
            </div><!-- /.col-sm-8 -->
          </div><!-- /.row -->
          <div class="form-group">
            <button type="submit" class="btn btn-info"><i class="fa fa-male"></i> Save Usuário</button>
          </div>
        </div>
      <% end %> 
    </div>
  </div> 
</div>

<div class="page-content">
  <%= render 'layouts/footer' %>
</div>
<script>
  $(".chosen-select").chosen({disable_search_threshold: 5});
</script>