<%= render 'layouts/sidebar' %>
<div class="page-content">
  <div class="container-fluid">
    <div class="mail-apps-wrap">
      <div class="the-box bg-info no-border no-margin heading">
        <div class="row">
          <div class="col-sm-6">
            <h1><i class="fa fa-usd icon-lg icon-circle icon-bordered"></i> Projeto</h1>
          </div><!-- /.col-sm-6 -->
          <div class="col-sm-6 text-right">            
          </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
      </div>      
      <div class="the-box toolbar no-border no-margin">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <%= link_to projects_path, :class => "btn btn-info" do%>
              <i class="fa fa-arrow-left"></i> Voltar
            <% end %>
          </div>    
          </div><!-- /.btn-group .pull-right -->
        </div><!-- /.btn-toolbar -->
      </div><!-- /.the-box -->      
      <div class="the-box no-margin">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="list-group info square no-border">              
              <a href="/projects/category/all" class="list-group-item active">Todos<span class="badge badge-success"><%=@total_projects%></span></a>
              <a href="/projects/category/yours" class="list-group-item">Participando<span class="badge badge-primary"><%=@your_projects%></span></a>
              <a href="/projects/category/private" class="list-group-item">Privados<span class="badge badge-info"><%=@private_projects%></span></a>
            </div>
          </div>
          
          <div class="col-sm-8 col-md-9">
            <h4><%= @project.title%> - Projeto</h4>
            <div class="panel panel-transparent panel-square">
              <div class="panel-heading">
              <h3 class="panel-title">
                <a class="block-collapse" data-toggle="collapse" href= <%= "#project#{@project.id}" %> >
                  <strong><%= @project.client.name %></strong>
                <span class="right-content">
                  <span class="time"><%= @project.created_at.to_formatted_s(:short)%></span>
                </span>
                </a>
              </h3>
              </div>
              <div id= <%= "project#{@project.id}" %> class="collapse in">
                <div class="panel-body">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Detalhes
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                    <ul class="mail-info-detail">
                      <li>Gerente : <strong><%=@project.user.name%></strong></li>
                      <li>Email : <strong class="text-danger">                        
                        <%= @project.user.email %>                        
                      </strong></li>
                      <li>Criado : <%=@project.created_at.to_formatted_s(:short)%></li>
                      <li>Nome :  <strong class="text-info"><%=@project.title%></strong></li>
                    </ul>
                    </li>
                  </ul>
                </div>
                  <br>
                  <br>                  
                  <p>
                  <%=@project.description%>
                  </p>

                  <p>
                    <div class="the-box full no-border">
                      <div class="table-responsive">
                        <table class="table table-th-block table-info">
                          <thead>
                            <tr>
                              <th>Gestor</th>
                              <th>Status</th>
                              <th>Progresso</th>
                              <th>Categoria</th>
                              <th>Prioridade</th>
                              <th>Lucro</th>
                              <th>Inicio</th>
                              <th>Limite</th>
                              <th>Estimado</th>
                              <th>Token</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><%=@project.user.name%></td>
                              <td><%=@project.status%></td>
                              <td><%=@project.percent%></td>
                              <td><%=@project.category%></td>
                              <td><%=@project.priority%></td>
                              <td><%=@project.revenue%></td>
                              <td><%=@project.date_begin.to_formatted_s(:short)%></td>
                              <td><%=@project.date_limit.to_formatted_s(:short)%></td>
                              <td><%=@project.date_estimated.to_formatted_s(:short)%></td>
                              <td><%=@project.token%></td>
                            </tr>
                          </tbody>
                        </table>
                      </div><!-- /.table-responsive -->
                    </div>                    
                  </p>
                </div>
                <div class="panel-footer"></div>
              </div>              
            </div>
            <br>
            <table class="table table-th-block table-info">
              <thead>
                <tr>
                  <th>Atividades</th>
                </tr>
              </thead>
            </table>
            <% @activity_list.each do |e| %>
            <div class="panel panel-transparent panel-square">
              <div class="panel-heading">
              <h3 class="panel-title">
                <a class="block-collapse collapsed" data-toggle="collapse" href= <%= "#activity#{e.id}" %> >
                <strong><%=e.name%> - Atividade</strong>
                <span class="right-content">
                  <span class="time"><%= e.created_at.to_formatted_s(:short)%></span>
                </span>
                </a>
              </h3>
              </div>              
                <div id= <%="activity#{e.id}"%> class="collapse">
                  <div class="panel-body">
                    <br>                  
                    <p>
                      <strong>
                        <%=e.description%>
                      </strong>
                    </p>
                    <p>
                      <div class="the-box full no-border">
                        <div class="table-responsive">
                          <table class="table table-th-block table-info">
                            <thead>
                              <tr>
                                <th>Responsável</th>
                                <th>Status</th>
                                <th>Prioridade</th>
                                <th>Categoria</th>
                                <th>Inicio</th>
                                <th>Limite</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%=e.user.name%></td>
                                <td><%=e.status%></td>
                                <td><%=e.priority%></td>
                                <td><%=e.category%></td>
                                <td><%=e.date_begin.to_formatted_s(:short)%></td>
                                <td><%=e.date_limit.to_formatted_s(:short)%></td>
                              </tr>
                            </tbody>
                          </table>
                        </div><!-- /.table-responsive -->
                      </div>
                    </p>
                  </div>
                  <div class="panel-footer"></div>
                </div>
              </div>
            <%end%>                       
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="page-content">
  <%= render 'layouts/footer' %>
</div>



