<%= render 'layouts/sidebar' %>
<div class="page-content">
  <div class="container-fluid">
    <div class="mail-apps-wrap">
      <div class="the-box bg-info no-border no-margin heading">
        <div class="row">
          <div class="col-sm-6">
            <h1><i class="fa fa-calendar icon-lg icon-circle icon-bordered"></i>Atividades</h1>
          </div>         
        </div>
      </div>      
      <div class="the-box toolbar no-border no-margin">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <a href="/activities/new" class="btn btn-info"><i class="fa fa-pencil"></i>Nova Atividade</a>
          </div>
        </div>
      </div>      
      <div class="the-box no-margin">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <div class="list-group info square no-border">              
              <a href="/activities/category/all" class="list-group-item">Todos<span class="badge badge-success"><%=@total_activities%></span></a>
              <%if params[:category] == "yours"%>
                <a href="/activities/category/yours" class="list-group-item active">Participando<span class="badge badge-primary"><%=@your_activities%></span></a>
              <% else %>
                <a href="/activities/category/yours" class="list-group-item">Participando<span class="badge badge-primary"><%=@your_activities%></span></a>
              <% end %>

              <%if params[:category] == "private"%>
                <a href="/activities/category/private" class="list-group-item active">Privados<span class="badge badge-info"><%=@private_activities%></span></a>
              <% else %>
                <a href="/activities/category/private" class="list-group-item">Privados<span class="badge badge-info"><%=@private_activities%></span></a>
              <% end %>

              <%if params[:category] == "urgent"%>
                <a href="/activities/category/urgent" class="list-group-item active">Urgente<span class="badge badge-danger"><%=@urgent_activities%></span></a>
              <% else %>
                <a href="/activities/category/urgent" class="list-group-item">Urgente<span class="badge badge-danger"><%=@urgent_activities%></span></a>
              <% end %>
            </div>
          </div>
          <div class="col-sm-8 col-md-9">
            <div class="list-group success square no-side-border">
              <% @activities.each do |activity| %>
                <div class="list-group-item mail-list">                               
                  <span class="favorite fa "><%= activity.created_at.to_formatted_s(:short) %></span>
                  <span class="name"><%= activity.project.title %></span>                
                  <span class="subject"> <%= activity.name %></span>
                  <a href="/activities/<%= activity.id %>"><span class="label label-info">Ver</span></a>
                  <a href="/activities/<%= activity.id %>/edit"><span class="label label-warning">Atualizar</span></a>
                  <a href="/activities/<%= activity.id %>" data-method="delete"><span class="label label-danger">Deletar</span></a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div> 
      <div class="the-box toolbar no-border no-margin">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group pull-right">
            <%= paginate @activities %>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

<div class="page-content">
  <%= render 'layouts/footer' %>
</div>
