<%= render 'layouts/sidebar' %>
<div class="page-content">
  <div class="container-fluid">
    <div class="mail-apps-wrap">
      <div class="the-box bg-info no-border no-margin heading">
        <div class="row">
          <div class="col-sm-6">
            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i> Nova Atividade</h1>
          </div><!-- /.col-sm-6 -->          
        </div><!-- /.row -->
      </div>
      
      <div class="the-box toolbar no-border no-margin">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <%= link_to activities_path, :class => "btn btn-danger"  do%>
              <i class="fa fa-arrow-left"></i> Voltar
            <% end %>
          </div>
          <div class="btn-group">            
          </div>
        </div><!-- /.btn-toolbar -->
      </div><!-- /.the-box -->
      <%= form_for(@activity) do |f| %>
        <div class="the-box no-margin">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Projeto</label>  
                <div class="field">
                  <%= f.collection_select :project_id, @projects.order('title'),:id, :title, {:prompt => true}, {:class =>"chosen-select form-control bold-border"}  %>
                </div> 
                <label>Responsável</label>
                <div class="field">                   
                  <%= f.collection_select :user_id, @users.order('name'),:id, :name, {:prompt => true}, {:class =>"chosen-select form-control bold-border"}%>
                </div>

                <label>Status</label>
                <div class="field">                   
                  <%= f.select :status, ["Em Andamento","Em Espera", "Em Negociação", "Finalizado", "Cancelado"], {:prompt => true},{:class =>"chosen-select form-control bold-border"}  %>
                </div>

                <label>Categoria</label>
                <div class="field">                   
                  <%= f.select :category, ["Em Andamento","Em Espera", "Em Negociação", "Finalizado", "Cancelado"], {:prompt => true},{:class =>"chosen-select form-control bold-border"}  %>
                </div>

                <label>Prioridade</label>
                <div class="field">                   
                  <%= f.select :priority  , ["Baixa","Média", "Alta", "Urgente"], {:prompt => true},{:class =>"chosen-select form-control bold-border"}  %>
                </div>

                <label>Visibilidade</label>
                <div class="field">                   
                  <%= f.select :visibility, ["Public","Private"], {:prompt => true},{:class =>"chosen-select form-control bold-border"}  %>
                </div>                          
              </div>             
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-8">
              <div class="form-group">

                <div class="field">
                  <%= f.label :name %><br>
                  <%= f.text_field :name, :class =>"form-control rounded bold-border" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :description %><br>
                  <%= f.text_area :description, :class =>"form-control rounded bold-border" %>
                </div>
                <div class="field">
                  <%= f.label :date_begin %><br>
                  <%= f.text_field :date_begin, :class => 'form-control datepicker bold-border' %>
                </div>
                <div class="field">
                  <%= f.label :date_limit %><br>
                  <%= f.text_field :date_limit, :class => 'form-control datepicker bold-border' %>
                </div>
                <div class="field">
                  <%= f.label :date_reminder %><br>
                  <%= f.text_field :date_reminder, :class => 'form-control datepicker bold-border' %>
                </div>
              </div><!-- /.input-group -->
              <div class="form-group">                
              </div><!-- /.input-group -->
            </div><!-- /.col-sm-8 -->
          </div><!-- /.row -->
          <div class="form-group">
            <button type="submit" class="btn btn-success"><i class="fa fa-envelope"></i> Save Atividade</button>
          </div>
        </div>
      <% end %> 
    </div>
  </div> 
</div>

<div class="page-content">
  <%= render 'layouts/footer' %>
</div>
<script>
  $(".chosen-select").chosen({disable_search_threshold: 5});
</script>
